* {
    box-sizing: border-box;
  }
.body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30;
    
    
}
.header {
    display: flex;
    width: 100%;
    background: linear-gradient(45deg, rgb(187, 185, 185), white );
    margin: 0;
    
    border-radius: 2%;
    padding: 8px;
    position: sticky;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   ;
    box-shadow: rgba(50, 50, 93, 0.2) 7px 7px 9px;
    margin-bottom: 20px ;
    color: black;
}
  
.header-logo{
    height: 98px;
    width: 98px;
    margin: 10px;
    background-image: url(/Images/wave.gif);
    transform: rotate(30deg);
    filter: grayscale(70%);  
    border-radius: 100%;
    box-shadow: rgba(127, 255, 212, 0.513) 7px 7px 10px ;
}  
.header-title{
    flex: auto;
    align-items: top;
    text-align: left;
    padding-left: 15px; 
}
.a-icon{
    align-items: center;
    margin-top: 10px;
    flex: auto;
    justify-content: space-around;
    height: 45px;
    width: auto;
    
}
.todo {
    
    height: 100%;
    margin-bottom: 300px;;
    
}

/** .w3-sidebar{}**/

.panel {
    display: block;
    align-items: center;
    margin-top: 10px;
    padding: 12px;
    width: 200px;
    color: whitesmoke;
    background-color: #211c42;
    position: fixed;
    height: 100%;
    overflow: auto;    
}

.panel-separador-1 {background: red;
    background-color: #211c42;
    padding: 8px;
    border-radius: 12px;
    
    
}
.panel-separador-2 {
    background-color: #211c42;
    padding: 8px;
    border-radius: 12px;
    
    margin-top: 70px;
}

.button-panel {
    align-content: center;
    background-color: rgba(83, 83, 83, 0.346);
    align-content: space-between;        
    color: whitesmoke;
    padding: 15px;  
    border-spacing: 1px;
    border-radius: 10%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 3%;
}
.panel a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
   
  .panel a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
@media screen and (max-width: 700px) {
    .header-logo {
        transform: rotate(90);
        background-image: url(/Images/wave.gif);
        
        
    }
    .header-title {
        margin:0px;
    }

    .a-icon {
        flex: 30%;
        height: 30px;
        width: auto;
    }
    .panel {
        font-size: 80%;
        display: flex ;
        width: auto;
        height: 130px;
        position: relative;
        
    }
    .button-panel {
        size: 80%;
        height: auto;
        margin-top: 0%;
        padding: 9px;
        
    }

    /** CONTENEDORES DE POSTEO **/
    .panel-separador-1 {
        margin-top: 0%;
    }
    .panel-separador-2 {
        margin-top: 0%;
    }
    .panel a {float: left;}
    div.main {margin-left: 0;}

    .trabajo {
        width: auto;
        height: auto;
    }
    .videoNotas {
        display: block;
        width: auto;
        height: auto;
        
    }
    .card-description {
        display: block;
        color: greenyellow ;
    }
    
}

@media screen and (max-width: 400px) {
  .panel-a {
    text-align: center;
    float: none;
  }
}

    .main{
        
        margin-left: 200px;
        padding: 1px 16px;
        height: 1000px;
        
        
    }

    .card {
        display: block;
        background: linear-gradient(0deg, rgba(9, 59, 80, 0.882) 0%, rgba(1, 8, 36, 0.915) 100%);
        margin: 12px;
        align-content: space-between;        
        height: auto; 
        width:auto; 
        padding: 20px;  
        color: azure;
        box-shadow: rgba(50, 50, 93, 0.25) 12px 12px 15px -1px, rgba(0, 0, 0, 0.027) 0px 1px 3px -1px;
        border-radius: 12px;
    }

    .card-title {

        display: flex;
        flex-direction: row;
        background-color:rgba(33, 54, 63, 0.692);
        padding: 5px;
        border-radius: 30px;
        

    }

    .card-content {
        
        align-items: center;
        padding: 20px;
        
    }
    .card-description {
        display: inline;
        flex-direction: row;
        color: whitesmoke;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 8px;
        margin-left: opx;
        background:rgba(75, 73, 73, 0.23);
    }
    .card-btn {
        align-content: center;
        background-color: rgba(83, 83, 83, 0.346);
        align-content: space-between;        
        color: whitesmoke;
        padding: 15px;  
        border-spacing: 1px;
        border-radius: 10%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    .card-btn:hover{
        background-color: rgba(83, 83, 83, 0.446);
        align-content: space-between;        
        color: whitesmoke;
        padding: 15px;
        border-spacing: 7px;
        border-radius: 17%;
        box-shadow: 0px 5px 25px rgba(151, 150, 150, 0.2)
    }
    .videoNotas {
        display: block;
        width: auto;
        height: auto;
        align-items: flex-start;
        ;
        
    }



.footer{
    background-color: rgba(2, 15, 24, 0.882);
    color: seashell;
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;  
    margin-left: -10px;
    padding-left: 10px; 
}







